.page-header
  %h1 Work experience

.panel
  = link_to asset_path('resume.pdf'), target: '_blank' do
    = fa_icon 'file', text: 'Download resume'

.panel.panel-default
  .panel-heading Alex Buijs Web Development
  .table-responsive
    %table.table
      %thead
        %tr
          %th.started Started
          %th.ended Ended
          %th.company Company
          %th.branch Branch
          %th.platform Platform
      %tbody
        %tr
          %td 2014-02
          %td 2014-03
          %td IDT Capture
          %td Scanning
          %td Apache Cordova/Backbone.js
        %tr
          %td 2014-01
          %td 2014-02
          %td Ultimaker
          %td 3D printing
          %td Ruby on Rails/Coffeescript

.panel.panel-default
  .panel-heading Ciber Netherlands B.V.
  .table-responsive
    %table.table
      %thead
        %tr
          %th.started Started
          %th.ended Ended
          %th.company Company
          %th.branch Branch
          %th.platform Platform
      %tbody
        %tr
          %td 2013-10
          %td 2014-01
          %td Ultimaker
          %td 3D printing
          %td Ruby on Rails/Coffeescript
        %tr
          %td 2013-01
          %td 2013-10
          %td Malmberg
          %td Education
          %td Ruby on Rails/Coffeescript
        %tr
          %td 2012-07
          %td 2013-01
          %td Philips
          %td Lighting
          %td Ruby on Rails/Coffeescript
        %tr
          %td 2012-04
          %td 2012-07
          %td Malmberg
          %td Education
          %td Ruby on Rails/Coffeescript
        %tr
          %td 2012-02
          %td 2012-04
          %td Philips
          %td Lighting
          %td Titanium Mobile Apps
        %tr
          %td 2010-12
          %td 2012-02
          %td Malmberg
          %td Education
          %td Ruby on Rails/Javascript
        %tr
          %td 2010-10
          %td 2010-12
          %td CVZ
          %td Healthcare
          %td Java
        %tr
          %td 2008-10
          %td 2010-10
          %td Malmberg
          %td Education
          %td Ruby on Rails/Javascript
        %tr
          %td 2008-01
          %td 2008-10
          %td Gemeente Zwolle
          %td Government
          %td Java
        %tr
          %td 2007-01
          %td 2008-01
          %td Radio Netherlands Worldwide
          %td Media
          %td Java
        %tr
          %td 2006-10
          %td 2007-01
          %td Equens
          %td Finance
          %td Adobe Livecycle
        %tr
          %td 2006-06
          %td 2006-10
          %td Ministerie BZK
          %td Government
          %td Java
        %tr
          %td 2006-01
          %td 2006-06
          %td Gemeente Zwolle
          %td Government
          %td Adobe Livecycle

.panel.panel-default
  .panel-heading ABN AMRO
  .table-responsive
    %table.table
      %thead
        %tr
          %th.started Started
          %th.ended Ended
          %th.company Company
          %th.branch Branch
          %th.platform Platform
      %tbody
        %tr
          %td 2005-02
          %td 2005-12
          %td ABN AMRO
          %td Finance
          %td VBA & Access