.page-header
  %h1 Work experience

.panel.panel-default
  .panel-heading Experience at Alex Buijs Web Development
  %table.table
    %thead
      %tr
        %th Started
        %th Ended
        %th Company
        %th Branch
        %th Platform
    %tbody
      %tr
        %td 2014-01
        %td 2014-02
        %td Ultimaker
        %td 3D printing
        %td Ruby on Rails

.panel.panel-default
  .panel-heading Experience at Ciber Netherlands B.V.
  %table.table
    %thead
      %tr
        %th Started
        %th Ended
        %th Company
        %th Branch
        %th Platform
    %tbody
      %tr
        %td 2013-10
        %td 2014-01
        %td Ultimaker
        %td 3D printing
        %td Ruby on Rails
      %tr
        %td 2013-01
        %td 2013-10
        %td Malmberg
        %td Education
        %td Ruby on Rails
      %tr
        %td 2012-07
        %td 2013-01
        %td Philips
        %td Lighting
        %td Ruby on Rails
      %tr
        %td 2012-04
        %td 2012-07
        %td Malmberg
        %td Education
        %td Ruby on Rails
      %tr
        %td 2012-02
        %td 2012-04
        %td Philips
        %td Lighting
        %td Titanium Mobile Apps
      %tr
        %td 2010-12
        %td 2012-02
        %td Malmberg
        %td Education
        %td Ruby on Rails
      %tr
        %td 2010-10
        %td 2010-12
        %td CVZ
        %td Healthcare
        %td Java
      %tr
        %td 2008-10
        %td 2010-10
        %td Malmberg
        %td Education
        %td Ruby on Rails
      %tr
        %td 2008-01
        %td 2008-10
        %td Gemeente Zwolle
        %td Government
        %td Java
      %tr
        %td 2007-01
        %td 2008-01
        %td Radio Netherlands Worldwide
        %td Media
        %td Java
      %tr
        %td 2006-10
        %td 2007-01
        %td Equens
        %td Finance
        %td Adobe Intelligent Documents
      %tr
        %td 2006-06
        %td 2006-10
        %td Ministerie BZK
        %td Government
        %td Java
      %tr
        %td 2006-01
        %td 2006-06
        %td Gemeente Zwolle
        %td Government
        %td Adobe Intelligent Documents
.panel.panel-default
  .panel-heading Experience at ABN AMRO
  %table.table
    %thead
      %tr
        %th Started
        %th Ended
        %th Company
        %th Branch
        %th Platform
    %tbody
      %tr
        %td 2005-02
        %td 2005-12
        %td ABN AMRO
        %td Finance
        %td Visual Basic & Access