.page-header
  %h1 Work experience

.panel
  = link_to asset_path('resume.pdf'), target: '_blank' do
    = fa_icon 'file', text: 'Download resume'

.panel.panel-default
  .panel-heading Alex Buijs Web Development
  .table-responsive
    %table.table
      %thead
        %tr
          %th.started Started
          %th.ended Ended
          %th.company Company
          %th.branch Branch
          %th.platform Platform
      %tbody
        %tr{ data: { toggle: 'popover', title: 'IDT Capture', content: "For IDT Capture, a customer of Kabisa, Alex made a cross platform mobile application with Cordova (PhoneGap). The application is basically a single-page HTML5 web application, wrapped in a native WebView.<br><br>Techniques used: Rails (for it's asset pipeline), Backbone, Emblem, Foundation, Coffeescript, SASS, Git." }}
          %td 2014-02
          %td 2014-03
          %td IDT Capture
          %td Scanning
          %td Apache Cordova/Backbone.js
        %tr{ data: { toggle: 'popover', title: 'Ultimaker', content: "For Ultimaker, a customer of Kabisa, Alex contributed to YouMagine.com, a social platform for sharing 3D print designs.<br><br>Techniques used: Ruby on Rails, Coffeescript, SASS, Slim, Bootstrap, PostgreSQL, Redis, Test Driven Development, Heroku, Git." }}
          %td 2014-01
          %td 2014-02
          %td Ultimaker
          %td 3D printing
          %td Ruby on Rails/Coffeescript

.panel.panel-default
  .panel-heading Ciber Netherlands B.V.
  .table-responsive
    %table.table
      %thead
        %tr
          %th.started Started
          %th.ended Ended
          %th.company Company
          %th.branch Branch
          %th.platform Platform
      %tbody
        %tr{ data: { toggle: 'popover', title: 'Ultimaker', content: "For Ultimaker, a customer of Kabisa, Alex contributed to YouMagine.com, a social platform for sharing 3D print designs.<br><br>Techniques used: Ruby on Rails, Coffeescript, SASS, Slim, Bootstrap, PostgreSQL, Redis, Test Driven Development, Heroku, Git." }}
          %td 2013-10
          %td 2014-01
          %td Ultimaker
          %td 3D printing
          %td Ruby on Rails/Coffeescript
        %tr{ data: { toggle: 'popover', title: 'Malmberg', content: "For Malmberg, a customer of Ciber, Alex contributed over several periods of time, to the expansion of the Malmberg Publishing Platform, a new generation of teaching methods.<br><br>Techniques used: Ruby on Rails, Coffeescript, Haml, SASS, SQL Server, Apache, Passenger, Capistrano, Git." }}
          %td 2013-01
          %td 2013-10
          %td Malmberg
          %td Education
          %td Ruby on Rails/Coffeescript
        %tr{ data: { toggle: 'popover', title: 'Philips', content: "For Philips, a customer of Ciber, Alex contributed to the creation of light-collector.com, a social platform for sharing images.<br><br>Techniques used: Ruby on Rails, Coffeescript, Haml, SASS, PostgreSQL, Amazon S2, Nginx, Unicorn, Capistrano, Git." }}
          %td 2012-07
          %td 2013-01
          %td Philips
          %td Lighting
          %td Ruby on Rails/Coffeescript
        %tr{ data: { toggle: 'popover', title: 'Malmberg', content: "For Malmberg, a customer of Ciber, Alex contributed over several periods of time, to the expansion of the Malmberg Publishing Platform, a new generation of teaching methods.<br><br>Techniques used: Ruby on Rails, Coffeescript, Haml, SASS, SQL Server, Apache, Passenger, Capistrano, Git." }}
          %td 2012-04
          %td 2012-07
          %td Malmberg
          %td Education
          %td Ruby on Rails/Coffeescript
        %tr{ data: { toggle: 'popover', title: 'Philips', content: "For Philips, a customer of Ciber, Alex contributed to the creation of the cross-platform mobile application Lighting Hub. It is used for browsing the entire Philips Lighting Catalogue.<br><br>Techniques used: Titanium, Coffeescript, SQLite, Git." }}
          %td 2012-02
          %td 2012-04
          %td Philips
          %td Lighting
          %td Titanium Mobile Apps
        %tr{ data: { toggle: 'popover', title: 'Malmberg', content: "For Malmberg, a customer of Ciber, Alex contributed over several periods of time, to the expansion of the Malmberg Publishing Platform, a new generation of teaching methods.<br><br>Techniques used: Ruby on Rails, Coffeescript, Haml, SASS, SQL Server, Apache, Passenger, Capistrano, Git." }}
          %td 2010-12
          %td 2012-02
          %td Malmberg
          %td Education
          %td Ruby on Rails/Javascript
        %tr
          %td 2010-10
          %td 2010-12
          %td CVZ
          %td Healthcare
          %td Java
        %tr{ data: { toggle: 'popover', title: 'Malmberg', content: "For Malmberg, a customer of Ciber, Alex contributed over several periods of time, to the creation of the Malmberg Publishing Platform, a new generation of teaching methods.<br><br>Techniques used: Ruby on Rails, Coffeescript, Haml, SASS, SQL Server, Apache, Passenger, Capistrano, Git." }}
          %td 2008-10
          %td 2010-10
          %td Malmberg
          %td Education
          %td Ruby on Rails/Javascript
        %tr
          %td 2008-01
          %td 2008-10
          %td Gemeente Zwolle
          %td Government
          %td Java
        %tr
          %td 2007-01
          %td 2008-01
          %td Radio Netherlands Worldwide
          %td Media
          %td Java
        %tr
          %td 2006-10
          %td 2007-01
          %td Equens
          %td Finance
          %td Adobe Livecycle
        %tr
          %td 2006-06
          %td 2006-10
          %td Ministerie BZK
          %td Government
          %td Java
        %tr
          %td 2006-01
          %td 2006-06
          %td Gemeente Zwolle
          %td Government
          %td Adobe Livecycle

.panel.panel-default
  .panel-heading ABN AMRO
  .table-responsive
    %table.table
      %thead
        %tr
          %th.started Started
          %th.ended Ended
          %th.company Company
          %th.branch Branch
          %th.platform Platform
      %tbody
        %tr
          %td 2005-02
          %td 2005-12
          %td ABN AMRO
          %td Finance
          %td VBA & Access