.page-header
  %h1 Documenten

%ul
  %li
    = link_to 'Kopie Paspoort', 'https://www.dropbox.com/s/xk8e5rwvwud78bz/paspoort.pdf?dl=0', target: '_blank'
  %li
    = link_to 'Kopie Uittreksel KvK', 'https://www.dropbox.com/s/yjncy8332tqshii/Uittreksel%20KvK.pdf?dl=0', target: '_blank'
  %li
    = link_to 'Kopie Polis Bedrijfsaansprakelijkheidsverzekering', 'https://www.dropbox.com/s/y2twxb81u7uonse/Polis%20Aansprakelijkheidsverzekering.pdf?dl=0', target: '_blank'
  %li
    = link_to 'Kopie VAR 2014', 'https://www.dropbox.com/s/id6uw2kvssbwhcn/VAR%202014.pdf?dl=0', target: '_blank'
  %li BTW-nummer: NL177182672B01
