%div{ style: 'text-align:center;' }
  %h1 Alex Buijs Web Development

  %h2 Contact
  %p Tel.: 06-40485702
  %p E-mail: contact@alexbuijsweb.nl
  %h2 Adres
  Haïtidreef 3E
  %br 3563 HC&nbsp;&nbsp;Utrecht
  %h2 Zakelijk
  %p Kvk nummer: 59563710
  %p BTW nummer: NL177182672B01