/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

$brand-primary: #505c51;
$body-bg: #f0f0f0 !default;
$text-color: $brand-primary !default;
$nav-tabs-justified-active-link-border-color: #fff !default;

@import 'bourbon';
@import 'bootstrap';
@import 'font-awesome';
@import 'jqcloud';
@import 'main';
@import 'logo';
