// @include font-face(OCR A Std, 'ocr_a_std', normal, $asset-pipeline: true);
@font-face {
  font-family: 'OCR A Std';
  src: url(font-path('ocr_a_std.eot'));
  src: url(font-path('ocr_a_std.eot?#iefix')) format('embedded-opentype'),
       url(font-path('ocr_a_std.woff')) format('woff'),
       url(font-path('ocr_a_std.ttf')) format('truetype'),
       url(font-path('ocr_a_std.svg#OCR A Std')) format('svg');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@include keyframes(fadeIn) {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.logo {
  width: 140px;

  pre {
    background-color: transparent;
    border: 0;
    color: #41ad49;
    font-family: 'OCR A Std';
    font-size: 24px;
    line-height: 1.22;
    opacity: 0;
    @include animation(fadeIn ease-in 1);
    @include animation-fill-mode(forwards);
    @include animation-duration(2s);
  }

  .x {
    color: #41ad49;
    font-family: Verdana, sans-serif;
    font-size: 76px;
    line-height: 1.22;
    margin-left: 78px;
    margin-top: -67px;
    opacity: 0;
    @include animation(fadeIn ease-in 1);
    @include animation-fill-mode(forwards);
    @include animation-duration(.01s);
    @include animation-delay(3s);
  }
}
