body {
  @include linear-gradient($body-bg, darken($body-bg, 10%));
  background-attachment: fixed;
}

.container {
  .header, .footer {
    @extend .row;
    @extend .hidden-xs;
    height: 20px;
  }

  .content {
    @extend .col-md-8;
    @extend .col-md-offset-2;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 2px 2px rgba(0,0,0,0.08);
    padding-top: 10px;

    ul.nav li.active a {
      background-color: #fff;
    }
  }

  .logo-container {
    @extend .col-md-2;
    @extend .hidden-xs;
  }
}

#home {
  .logo {
    @extend .visible-xs;
    margin: 10px auto;
  }

  #word-cloud {
    height: 350px;
    margin-top: 20px;
    margin-bottom: 20px;

    .w1, .w2, .w3, .w4, .w5, .w6, .w7, .w8, .w9, .w10 {
      text-shadow: 1px 1px 1px #585858;
    }

    .w10 {
      color: lighten($brand-primary, 0%);
    }

    .w9 {
      color: lighten($brand-primary, 7.5%);
    }

    .w8 {
      color: lighten($brand-primary, 15%);
    }

    .w7 {
      color: lighten($brand-primary, 22.5%);
    }

    .w6 {
      color: lighten($brand-primary, 30%);
    }

    .w5 {
      color: lighten($brand-primary, 37.5%);
    }

    .w4 {
      color: lighten($brand-primary, 45%);
    }

    .w3 {
      color: lighten($brand-primary, 52.5%);
    }

    .w2 {
      color: lighten($brand-primary, 60%);
    }

    .w1 {
      color: lighten($brand-primary, 67.5%);
    }
  }
}

#about {
  margin-bottom: 20px;

  .thumbnail {
    width: 200px;
    height: 200px;
    float: right;
    margin-bottom: 5px;
    margin-left: 5px;
  }
}

#info {
  #map-canvas {
    height: 300px;
  }

  .info, .social {
    @extend .row;

    .data {
      @extend .col-md-4;

      .panel {
        @extend .panel-default;

        h3 {
          @extend .panel-title;
        }
      }
    }
  }
}

#portfolio {
  .carousel {
    margin-bottom: 10px;

    .item {
      img {
        margin: 0 auto;
        height: 522px;
      }

      .carousel-caption {
        background: rgba(0,0,0,0.5);
        margin-bottom: 20px;
        padding: 0;

        h3 {
          margin-top: 10px;
        }

        a {
          color: #fff;
        }
      }
    }
  }
}

#experience {
  .started, .ended {
    width: 10%;
  }

  .branch {
    width: 15%
  }

  .company {
    width: 25%;
  }

  .platform {
    width: 25%;
  }
}

#contact-details {
  @extend .row;
  margin-bottom: 10px;

  .phone, .mail {
    @extend .col-md-6;
    text-align: center;
    margin-bottom: 10px;
  }
}